<template>
  <v-container fluid fill-height>
    <v-layout row wrap align-center justify-center>
      <v-flex xs-12 sm6 md4>
        <v-card >
          <v-card-media
            contain
            alt="Nuxt.js Logo"
          >
            <div class="mx-auto">
              <div class="mt-4">
                <Logo/>
              </div>
            </div>
          </v-card-media>
          <v-card-title primary-title>
            <div class="mx-auto">
              <div class="headline text-xs-center">NUXT-Vuetify</div>
              <span class="grey--text text-xs-center">Universal Vue.js Application</span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn class="mx-auto" flat color="green" href="https://nuxtjs.org/" target="_blank">NUXT</v-btn>
            <v-btn class="mx-auto" flat color="blue" href="https://vuetifyjs.com/" target="_blank">Vuetify</v-btn>
            <v-btn class="mx-auto" flat color="orange" right href="https://docs.gitlab.com/ce/user/project/pages/" target="_blank">Gitlab</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>
  /* .center-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.container
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}*/
/*
.title
{
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 *//*
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}
.subtitle
{
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links
{
  padding-top: 15px;
}
  */
</style>
